<footer class="mt-3">
    <div class="f-info">
        <div>Developed & Designed by <a style="text-decoration: none;" href="https://www.sanjeevkumar.in">SanjeevKumar</a></div>
    
    </div>
</footer>