 
<nav class="navbar navbar-expand-sm sm-body-tertiary  border-bottom sticky-top">
    <div class="container-fluid ms-auto">
        <div class="nav-bar">

            <div class="nav-heading">
                <a class="navbar-brand" href="/data">Home</a>      
                <a class="navbar-brand" href="/newjob">Add Job</a>
            </div>
            
            <% if(currUser){%>
            <a class="nav-link" href="/logout"><button class="btn btn-danger">Logout</button></a>
            <%} %>
            
        </div>    
    </div>
</nav>