<% layout("/layouts/boilerplate")%>

<div class="main-card">


<div class="card">
    <form method="POST" action="/newjob">
        <input type="text" name="job_name">
        <button class="btn btn-primary">Submit</button>
    </form>

</div>
</div>